CREATE TABLE [dbo].[chatlieu_kieudang_map] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Sku] nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChatLieu] nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KieuDang] nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_chatlieu_kieudang_map] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[chatlieu_kieudang_map] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChiTietDanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [LoaiVaiId] int  NOT NULL,
  [NgayTao] datetime2(7)  NOT NULL,
  [NguoiTao] int  NOT NULL,
  [ChungLoaiSanPhamDMChungLoaiSanPhamId] int  NULL,
  [LoaiVaiDMLoaiVaiId] int  NULL,
  CONSTRAINT [PK_ChiTietDanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChiTietDanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChiTietDonSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DonSanXuatId] int  NOT NULL,
  [LanXuLyQuyCoPhieuDoId] int  NOT NULL,
  CONSTRAINT [PK_ChiTietDonSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChiTietDonSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChiTietLenhSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LenhSanXuatId] int  NOT NULL,
  [ChiTietDonSanXuatId] int  NOT NULL,
  CONSTRAINT [PK_ChiTietLenhSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChiTietLenhSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChiTietThongSoLCD] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LoaiSanPhamId] int  NOT NULL,
  [LoaiVaiId] int  NOT NULL,
  [KieuDangId] int  NOT NULL,
  [ViTriCuDongId] int  NOT NULL,
  [YeuCauVeMacId] int  NOT NULL,
  [FromCm] int  NOT NULL,
  [ToCm] int  NOT NULL,
  [Khoa] bit  NOT NULL,
  [ThongSoLCDId] int  NOT NULL,
  CONSTRAINT [PK_ChiTietThongSoLCD] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChiTietThongSoQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MoTa] nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [FromCm] float(53)  NULL,
  [ToCm] float(53)  NULL,
  [LoopSize] int  NULL,
  [SizeId] int  NOT NULL,
  [ThongSoQuyCoId] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  CONSTRAINT [PK_ChiTietThongSoQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChiTietThongSoQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_KieuDang] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [KieuDangId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_KieuDang] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_KieuDang] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_LoaiVai] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LoaiVaiId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_LoaiVai] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_LoaiVai] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_Size] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [SizeId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_Size] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_Size] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_SoDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [SoDoId] int  NOT NULL,
  [ChungLoaiSPId] int  NOT NULL,
  [BatBuoc] bit  NOT NULL,
  [DungQuyCo] bit  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_SoDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_SoDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_ViTriCuDong] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [ViTriCuDongId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_ViTriCuDong] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_ViTriCuDong] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ChungLoaiSanPham_YeuCauVeMac] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [YeuCauVeMacId] int  NOT NULL,
  CONSTRAINT [PK_ChungLoaiSanPham_YeuCauVeMac] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_YeuCauVeMac] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ClothingSize] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [WeightFrom] int  NOT NULL,
  [WeightTo] int  NOT NULL,
  [HeightFrom] int  NOT NULL,
  [HeightTo] int  NOT NULL,
  [Size] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [StoreId] int  NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_ClothingSize] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ClothingSize] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[CustomerDonViMapping] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [CustomerId] int  NULL,
  [DonViId] int  NULL,
  CONSTRAINT [PK_CustomerDonViMapping] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[CustomerDonViMapping] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Ma] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Ten] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KhachHangId] int  NULL,
  [GhiChu] nvarchar(4000) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedBy] int  NOT NULL,
  [UpdatedBy] int  NULL,
  [CreatedOnUtc] datetime2(7)  NOT NULL,
  [UpdatedOnUtc] datetime2(7)  NOT NULL,
  [Deleted] bit  NOT NULL,
  [KhoaChiTietDSD] bit  NULL,
  CONSTRAINT [PK_DanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DieuChinhSoDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [SoDoDieuChinh] float(53)  NOT NULL,
  [SessionId] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_DieuChinhSoDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DieuChinhSoDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_ChungLoaiSanPham] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaChungLoaiSanPham] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [Active] bit  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [QuyCoLan2] bit  NOT NULL,
  [QCL2MacOmKhoTinhThiNC] bit  NOT NULL,
  [QCL2KhoTinhThiNC] bit  NOT NULL,
  [QCL2RuleDuoi1Size] bit  NOT NULL,
  [ArtColor] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KhachHangId] int  NULL,
  CONSTRAINT [PK_DM_ChungLoaiSanPham] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_ChungLoaiSanPham] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_DacDiemCoThe] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_DacDiemCoThe] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_DacDiemCoThe] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_DonVi] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Code] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ThongBaoTaoChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ThongBaoHoanThanhQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ThongBaoDaTaoDonSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [EmailsNotifyTaoDSDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [EmailsNotifyTaoChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [EmailsNotifyHoanThanhQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NguoiNhanThongBaoTaoChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NguoiNhanThongBaoHoanThanhQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [EmailsNotifyDaTaoDonHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NguoiNhanThongBaoDaTaoDonHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_DM_DonVi] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_DonVi] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_KieuDang] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [KieuDang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_KieuDang] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_KieuDang] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_LoaiVai] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LoaiVai] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_LoaiVai] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_LoaiVai] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_LyDoChuaDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_LyDoChuaDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_LyDoChuaDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_LyDoKhongSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [DisplayOrder] int  NOT NULL,
  CONSTRAINT [PK_DM_LyDoKhongSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_LyDoKhongSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_MauIn] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Html] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [Active] bit  NOT NULL,
  CONSTRAINT [PK_DM_MauIn] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_MauIn] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_Size] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Size] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_Size] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_Size] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_SoDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaSoDo] nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
  [TenSoDo] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS  NOT NULL,
  [DisplayOrder] int  NOT NULL,
  [IsForSize] bit  NOT NULL,
  [IsForLong] bit  NOT NULL,
  [CalcOrder] int  NOT NULL,
  [GiaTriNuDen] int  NOT NULL,
  [GiaTriNamTu] int  NOT NULL,
  [GiaTriNamDen] int  NOT NULL,
  [GiaTriNuTu] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [Gender] int  NOT NULL,
  CONSTRAINT [PK_DM_SoDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_SoDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_ViTriCuDong] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [ViTriCuDong] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ThuTuHienThi] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [DisplayOrder] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  CONSTRAINT [PK_DM_ViTriCuDong] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_ViTriCuDong] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_YeuCauMac] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_YeuCauMac] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_YeuCauMac] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DM_YeuCauMacKhac] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Name] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_DM_YeuCauMacKhac] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DM_YeuCauMacKhac] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[DonSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaDonSX] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenDonSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [NgayGiaoHangDuKien] datetime2(7)  NULL,
  [DongBoNPL] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_DonSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[DonSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[Genkey] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [EntityId] int  NOT NULL,
  [EntityName] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViId] int  NOT NULL,
  [KHId] int  NOT NULL,
  [Nam] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [Value] int  NOT NULL,
  [FullKey] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_Genkey] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[Genkey] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[KhachHang] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [Deleted] bit  NOT NULL,
  [MaxMaNhanVienKHTuTang] int  NOT NULL,
  [DonViId] int  NOT NULL,
  CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[KhachHang] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[KhachHangTmp] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [Deleted] bit  NOT NULL,
  [MaxMaNhanVienKHTuTang] int  NOT NULL,
  [DonViId] int  NOT NULL,
  [SessionId] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_KhachHangTmp] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[KhachHangTmp] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LanChuyenQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [TenLanChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DanhSachDoId] int  NOT NULL,
  [SoLuongNVKH] int  NOT NULL,
  [Deleted] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [HoanThanhQuyCo] bit  NOT NULL,
  CONSTRAINT [PK_LanChuyenQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LanChuyenQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LanChuyenQuyCo_PhieuDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [KhongSanXuat] bit  NOT NULL,
  [LyDoKhongSanXuatId] int  NULL,
  CONSTRAINT [PK_LanChuyenQuyCo_PhieuDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LanChuyenQuyCo_PhieuDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LanXuLyQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [XuLyQuyCoChungLoaiSanPhamId] int  NOT NULL,
  [TiLeQuyCo] float(53)  NOT NULL,
  [SoQuyCoThanhCong] int  NOT NULL,
  [TongSoQuyCo] int  NOT NULL,
  [LanXuLy] int  NOT NULL,
  CONSTRAINT [PK_LanXuLyQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LanXuLyQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LanXuLyQuyCo_PhieuDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanXuLyQuyCoId] int  NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [KetQuaQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LoaiKetQuaQuyCo] int  NULL,
  [LogQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [SoDoVoc1Id] int  NULL,
  [SoDoVoc2Id] int  NULL,
  [SoDoVoc3Id] int  NULL,
  [VongQuyCo] int  NULL,
  CONSTRAINT [PK_LanXuLyQuyCo_PhieuDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LanXuLyQuyCo_PhieuDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LanXuLyQuyCoKhoaThongSoQC] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanXuLyQuyCoId] int  NULL,
  [SoDoId] int  NULL,
  CONSTRAINT [PK_LanXuLyQuyCoKhoaThongSoQC] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LanXuLyQuyCoKhoaThongSoQC] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LenhSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [TenLenhSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonSanXuatId] int  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_LenhSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LenhSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[LichSuThayDoi] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [EntityId] int  NOT NULL,
  [EntityName] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [JsonData] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_LichSuThayDoi] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[LichSuThayDoi] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[MaDonSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Ma] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_MaDonSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[MaDonSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[NhanVienKH] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [NamSinh] int  NOT NULL,
  [ChieuCao] int  NULL,
  [CanNang] int  NULL,
  [KhachHangId] int  NOT NULL,
  [TinhThanhPho] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [QuanHuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViPhongBan] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChucDanh] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Deleted] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_NhanVienKH] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[NhanVienKH] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[NhanVienKHTmp] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [NamSinh] int  NOT NULL,
  [ChieuCao] int  NULL,
  [CanNang] int  NULL,
  [KhachHangId] int  NOT NULL,
  [TinhThanhPho] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [QuanHuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViPhongBan] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChucDanh] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Deleted] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [SessionId] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_NhanVienKHTmp] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[NhanVienKHTmp] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[NhomLenhSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaNhomLenhSX] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhomLenhSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [Deleted] bit  NOT NULL,
  [NgayPhatLenh] datetime2(7)  NULL,
  [DonViSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NgayGiaoHang] datetime2(7)  NULL,
  [CompanyName] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CompanyAddress] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CompanyPhone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_NhomLenhSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[NhomLenhSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[NhomLenhSanXuat_LenhSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [NhomLenhSanXuatId] int  NOT NULL,
  [LenhSanXuatId] int  NOT NULL,
  CONSTRAINT [PK_NhomLenhSanXuat_LenhSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[NhomLenhSanXuat_LenhSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[Notification] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [CustomerId] int  NOT NULL,
  [Title] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Message] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Readed] bit  NOT NULL,
  [CreatedOnUtc] datetime2(7)  NOT NULL,
  [UpdatedOnUtc] datetime2(7)  NOT NULL,
  CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[Notification] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [NhanVienKHId] int  NOT NULL,
  [DaHoanThanhDo] bit  NOT NULL,
  [DaGuiEmail] bit  NOT NULL,
  [ThoiDiemGuiEmail] datetime2(7)  NULL,
  [DaChuyenQuyCo] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [Deleted] bit  NOT NULL,
  [GhiChu] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LyDoChuaDoId] int  NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [YeuCauVeMacId] int  NULL,
  [NgayDo] datetime2(7)  NULL,
  [NguoiDoId] int  NULL,
  [KieuDangId] int  NULL,
  [ChungLoaiDongPhuc] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [AppliedSize] bit  NOT NULL,
  [AppliedSizeValue] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_PhieuDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDo_ChungLoaiSanPham] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [SoLuong] int  NOT NULL,
  CONSTRAINT [PK_PhieuDo_ChungLoaiSanPham] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDo_ChungLoaiSanPham] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDo_DacDiemCoThe] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [DacDiemCoTheId] int  NOT NULL,
  CONSTRAINT [PK_PhieuDo_DacDiemCoThe] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDo_DacDiemCoThe] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDo_YeuCauVeMacKhac] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [YeuCauVeMacKhacId] int  NOT NULL,
  [PhieuDoId] int  NOT NULL,
  CONSTRAINT [PK_PhieuDo_YeuCauVeMacKhac] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDo_YeuCauVeMacKhac] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDoSoDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  [GaTriDo] float(53)  NOT NULL,
  [SoDoDieuChinh] float(53)  NULL,
  CONSTRAINT [PK_PhieuDoSoDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDoSoDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[PhieuDoTmp] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [NhanVienKHId] int  NOT NULL,
  [DaHoanThanhDo] bit  NOT NULL,
  [DaGuiEmail] bit  NOT NULL,
  [ThoiDiemGuiEmail] datetime2(7)  NULL,
  [DaChuyenQuyCo] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [Deleted] bit  NOT NULL,
  [GhiChu] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LyDoChuaDoId] int  NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [YeuCauVeMacId] int  NULL,
  [NgayDo] datetime2(7)  NULL,
  [NguoiDoId] int  NULL,
  [KieuDangId] int  NULL,
  [ChungLoaiDongPhuc] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [SessionId] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [AppliedSize] bit  NOT NULL,
  [AppliedSizeValue] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_PhieuDoTmp] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[PhieuDoTmp] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[Tempd] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [Code] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Stt] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_Tempd] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[Tempd] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ThongSoDieuChinh] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [ChungLoaiSpId] int  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedOnUtc] datetime2(7)  NOT NULL,
  [UpdateOnUtc] datetime2(7)  NOT NULL,
  [FileId] int  NOT NULL,
  CONSTRAINT [PK_ThongSoDieuChinh] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ThongSoDieuChinh] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ThongSoLCD] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [IsDefault] bit  NOT NULL,
  [FileId] int  NULL,
  [LanXuLyQuyCoId] int  NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  CONSTRAINT [PK_ThongSoLCD] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ThongSoLCD] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ThongSoQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [IsDefault] bit  NOT NULL,
  [FileId] int  NOT NULL,
  [LanXuLyQuyCoId] int  NULL,
  [LanQuyCo] int  NOT NULL,
  CONSTRAINT [PK_ThongSoQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ThongSoQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[ThongSoQuyVoc] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [SoDoId] int  NOT NULL,
  [MoTa] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [FromCm] float(53)  NOT NULL,
  [ToCm] float(53)  NOT NULL,
  [CoChuan] float(53)  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [FileId] int  NULL,
  CONSTRAINT [PK_ThongSoQuyVoc] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[ThongSoQuyVoc] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_ChungLoaiSPOfDanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [TenChungLoaiSp] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_v_ChungLoaiSPOfDanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_ChungLoaiSPOfDanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_CountChungLoaiHoanThanhLanChuyenQC] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [DaHoanThanh] int  NULL,
  [Total] int  NULL,
  CONSTRAINT [PK_v_CountChungLoaiHoanThanhLanChuyenQC] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_CountChungLoaiHoanThanhLanChuyenQC] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_CountDonSXOfLanChuyenQC] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [Total] int  NULL,
  CONSTRAINT [PK_v_CountDonSXOfLanChuyenQC] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_CountDonSXOfLanChuyenQC] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_CountLenhSXOfLanChuyenQC] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [Total] int  NULL,
  CONSTRAINT [PK_v_CountLenhSXOfLanChuyenQC] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_CountLenhSXOfLanChuyenQC] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_CountNhomLenhSXOfLanChuyenQC] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [Total] int  NULL,
  CONSTRAINT [PK_v_CountNhomLenhSXOfLanChuyenQC] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_CountNhomLenhSXOfLanChuyenQC] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_CountNVKHOfDanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [IdDanhSachDo] int  NULL,
  [Total] int  NULL,
  CONSTRAINT [PK_v_CountNVKHOfDanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_CountNVKHOfDanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_DanhSachDonSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DonSanXuatId] int  NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [MaDonSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [TenLanChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DanhSachDoId] int  NOT NULL,
  [TenDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NguoiTao] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViId] int  NOT NULL,
  [KhachHangDeleted] bit  NOT NULL,
  [TongLenh] int  NULL,
  CONSTRAINT [PK_v_DanhSachDonSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_DanhSachDonSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_DanhSachLenhSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LenhSanXuatId] int  NOT NULL,
  [TenLenhSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonSanXuatId] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [MaDonSanXuat] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenLanChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LanChuyenQuyCoId] int  NULL,
  [MaDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DanhSachDoDeleted] bit  NULL,
  [DanhSachDoId] int  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViId] int  NULL,
  [KhachHangDeleted] bit  NULL,
  [TenNguoiTao] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TongNhomLenh] int  NULL,
  CONSTRAINT [PK_v_DanhSachLenhSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_DanhSachLenhSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_KetQua] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [TenLanChuyenQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [MaChungLoaiSanPham] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChungLoaiSanPham] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [ArtColor] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [PhieuDoId] int  NOT NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [KetQuaQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [SoDoVoc1Id] int  NULL,
  [SoDoVoc2Id] int  NULL,
  [SoDoVoc3Id] int  NULL,
  [LoaiKetQuaQuyCo] int  NULL,
  [VongQuyCo] int  NULL,
  [DonSanXuatId] int  NULL,
  [MaHangTheoDonSX] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LenhSanXuatId] int  NULL,
  [NhomLenhSanXuatId] int  NULL,
  [ChungLoaiDongPhuc] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LanXuLy] int  NOT NULL,
  [LanXuLyQuyCoPhieuDoId] int  NOT NULL,
  [SoLuong] int  NOT NULL,
  CONSTRAINT [PK_v_KetQua] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_KetQua] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_LanChuyenQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [TenLanChuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [SoLuongNVKH] int  NOT NULL,
  [HoanThanhQuyCo] bit  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [NguoiChuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KhachHangId] int  NOT NULL,
  [DonViId] int  NOT NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenDanhSach] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TongSoNhanVien] int  NULL,
  [TongSoDon] int  NULL,
  [TongSoLenh] int  NULL,
  [TongNhomLenh] int  NULL,
  [CountSPHoanThanhQuyCo] int  NULL,
  [CountSanPham] int  NULL,
  CONSTRAINT [PK_v_LanChuyenQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_LanChuyenQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_LanXuLyQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [NhanVienKHId] int  NULL,
  [MaNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NULL,
  [NamSinh] int  NULL,
  [DonViPhongBan] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChucDanh] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChieuCao] int  NULL,
  [CanNang] int  NULL,
  [PhieuDoId] int  NULL,
  [AppliedSizeValue] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KetQuaQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LoaiKetQuaQuyCo] int  NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [YeuCauVeMac] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViId] int  NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [LanXuLyQuyCoPhieuDoId] int  NOT NULL,
  [TiLeLanXuLy] float(53)  NOT NULL,
  [TiLeChungLoai] float(53)  NOT NULL,
  [KieuDang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_v_LanXuLyQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_LanXuLyQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_NhanVienKH] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [MaNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [NamSinh] int  NOT NULL,
  [ChieuCao] int  NULL,
  [CanNang] int  NULL,
  [KhachHangId] int  NOT NULL,
  [TinhThanhPho] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [QuanHuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViPhongBan] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChucDanh] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Deleted] bit  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [PhieuDoId] int  NULL,
  [DaChuyenQuyCo] bit  NULL,
  [DaGuiEmail] bit  NULL,
  [DaHoanThanhDo] bit  NULL,
  [LyDoChuaDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NgayDo] datetime2(7)  NULL,
  [TenDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [GhiChuDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [IdDanhSachDo] int  NULL,
  [DonViId] int  NOT NULL,
  [YeuCauVeMacId] int  NULL,
  [NguoiDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [SDTNguoiDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NguoiDoId] int  NULL,
  [ChungLoaiDongPhuc] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [GhiChuPhieuDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [YeuCauVeMac] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [YeuCauVeMacKhac] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DacDiemCoThe] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [KieuDang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LyDoChuaDoId] int  NULL,
  CONSTRAINT [PK_v_NhanVienKH] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_NhanVienKH] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_NhanVienKHSanXuat] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanXuLyQuyCoPhieuDoId] int  NOT NULL,
  [LanChuyenId] int  NOT NULL,
  [HoanThanhQuyCo] bit  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [TenChungLoaiSP] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [QuyCoThanhCong] bit  NOT NULL,
  [KetQuaQuyCo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LoaiKetQuaQuyCo] int  NULL,
  [SoDoVoc1Id] int  NULL,
  [SoDoVoc2Id] int  NULL,
  [PhieuDoDeleted] bit  NOT NULL,
  [MaNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenNhanVienKH] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Phone] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Gender] int  NOT NULL,
  [NamSinh] int  NOT NULL,
  [QuanHuyen] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViPhongBan] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [ChucDanh] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [NhanVienKhDeleted] bit  NOT NULL,
  [NhanVienKHId] int  NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [KhongSanXuat] bit  NOT NULL,
  [LanChuyenQuyCoPhieuDoId] int  NOT NULL,
  [ChiTietDonSanXuatId] int  NULL,
  [ChieuCao] int  NULL,
  [CanNang] int  NULL,
  [TinhThanhPho] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [Email] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [YeuCauVeMacId] int  NULL,
  [KieuDangId] int  NULL,
  [KhachHangId] int  NOT NULL,
  [LanXuLyQuyCoId] int  NOT NULL,
  [VongQuyCo] int  NULL,
  [ChungLoaiDongPhuc] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [GhiChu] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [LyDoChuaDoId] int  NULL,
  [LyDoChuaDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [YeuCauVeMac] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DanhSachDoId] int  NOT NULL,
  CONSTRAINT [PK_v_NhanVienKHSanXuat] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_NhanVienKHSanXuat] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_Report] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [MaDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenDanhSachDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [TenKhachHang] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DonViId] int  NOT NULL,
  [NguoiTao] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [CreatedOnUtc] datetime2(7)  NOT NULL,
  [TongSo] int  NULL,
  [DaDo] int  NULL,
  [DaDoNam] int  NULL,
  [DaDoNu] int  NULL,
  [DaDoGay] int  NULL,
  [ChuaDoNam] int  NULL,
  [ChuaDoNu] int  NULL,
  CONSTRAINT [PK_v_Report] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_Report] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_ReportQuyCo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [ChungLoaiSanPham] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DaQuyCo] int  NULL,
  [NgoaiCo] int  NULL,
  [SoLuong] int  NULL,
  [MaChungLoaiSanPham] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_v_ReportQuyCo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_ReportQuyCo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_SoDoOfDanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  [ChungLoaiSPId] int  NOT NULL,
  [BatBuoc] bit  NOT NULL,
  [DungQuyCo] bit  NOT NULL,
  [TenSoDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaSoDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [GiaTriNuDen] int  NOT NULL,
  [GiaTriNamTu] int  NOT NULL,
  [GiaTriNamDen] int  NOT NULL,
  [GiaTriNuTu] int  NOT NULL,
  [Gender] int  NOT NULL,
  CONSTRAINT [PK_v_SoDoOfDanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_SoDoOfDanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_ThongSoDoOfDanhSachDo] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [DanhSachDoId] int  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  [ChungLoaiSPId] int  NOT NULL,
  [BatBuoc] bit  NOT NULL,
  [DungQuyCo] bit  NOT NULL,
  [TenSoDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [MaSoDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [GiaTriNuDen] int  NOT NULL,
  [GiaTriNamTu] int  NOT NULL,
  [GiaTriNamDen] int  NOT NULL,
  [GiaTriNuTu] int  NOT NULL,
  [Gender] int  NOT NULL,
  [TenChungLoaiSp] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  CONSTRAINT [PK_v_ThongSoDoOfDanhSachDo] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_ThongSoDoOfDanhSachDo] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[v_ThongSoDoOfPhieu] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [PhieuDoId] int  NOT NULL,
  [ChungLoaiId] int  NOT NULL,
  [SoLuong] int  NOT NULL,
  [SoDoId] int  NOT NULL,
  [BatBuoc] bit  NOT NULL,
  [TenSoDo] nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
  [DisplayOrder] int  NOT NULL,
  [GiaTriNuDen] int  NOT NULL,
  [GiaTriNamTu] int  NOT NULL,
  [GiaTriNamDen] int  NOT NULL,
  [GiaTriNuTu] int  NOT NULL,
  [Gender] int  NOT NULL,
  CONSTRAINT [PK_v_ThongSoDoOfPhieu] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[v_ThongSoDoOfPhieu] SET (LOCK_ESCALATION = TABLE)
GO

CREATE TABLE [dbo].[XuLyQuyCo_ChungLoaiSanPham] (
  [Id] int  IDENTITY(1,1) NOT NULL,
  [LanChuyenQuyCoId] int  NOT NULL,
  [ModifiedBy] int  NOT NULL,
  [CreatedBy] int  NOT NULL,
  [CreatedDate] datetime2(7)  NOT NULL,
  [ModifiedDate] datetime2(7)  NOT NULL,
  [HoanThanhQuyCo] bit  NOT NULL,
  [ChungLoaiSanPhamId] int  NOT NULL,
  [TiLeQuyCo] float(53)  NOT NULL,
  CONSTRAINT [PK_XuLyQuyCo_ChungLoaiSanPham] PRIMARY KEY CLUSTERED ([Id])
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)  
ON [PRIMARY]
)
GO

ALTER TABLE [dbo].[XuLyQuyCo_ChungLoaiSanPham] SET (LOCK_ESCALATION = TABLE)
GO

ALTER TABLE [dbo].[ChiTietDanhSachDo] ADD CONSTRAINT [FK_ChiTietDanhSachDo_DM_ChungLoaiSanPham_ChungLoaiSanPhamDMChungLoaiSanPhamId] FOREIGN KEY ([ChungLoaiSanPhamDMChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietDanhSachDo] ADD CONSTRAINT [FK_ChiTietDanhSachDo_DM_LoaiVai_LoaiVaiDMLoaiVaiId] FOREIGN KEY ([LoaiVaiDMLoaiVaiId]) REFERENCES [dbo].[DM_LoaiVai] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietDanhSachDo] ADD CONSTRAINT [FK_ChiTietDanhSachDo_DanhSachDo_DanhSachDoId] FOREIGN KEY ([DanhSachDoId]) REFERENCES [dbo].[DanhSachDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietDonSanXuat] ADD CONSTRAINT [FK_ChiTietDon_DonSanXuat] FOREIGN KEY ([DonSanXuatId]) REFERENCES [dbo].[DonSanXuat] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietDonSanXuat] ADD CONSTRAINT [FK_ChiTietDon_LanXulyQuyCoPhieuDo] FOREIGN KEY ([LanXuLyQuyCoPhieuDoId]) REFERENCES [dbo].[LanXuLyQuyCo_PhieuDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietLenhSanXuat] ADD CONSTRAINT [FK_ChiTietLenh_ChiTietDon] FOREIGN KEY ([ChiTietDonSanXuatId]) REFERENCES [dbo].[ChiTietDonSanXuat] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietLenhSanXuat] ADD CONSTRAINT [FK_ChiTietLenh_LenhSanXuat] FOREIGN KEY ([LenhSanXuatId]) REFERENCES [dbo].[LenhSanXuat] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] ADD CONSTRAINT [FK_ChiTietThongSoLCD_ViTriCuDong] FOREIGN KEY ([ViTriCuDongId]) REFERENCES [dbo].[DM_ViTriCuDong] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] ADD CONSTRAINT [FK_ChiTietThongSoLCD_YeuCauMac] FOREIGN KEY ([YeuCauVeMacId]) REFERENCES [dbo].[DM_YeuCauMac] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] ADD CONSTRAINT [FK_ChiTietThongSoLCD_ChungLoaiSP] FOREIGN KEY ([LoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] ADD CONSTRAINT [FK_ChiTietThongSoLCD_KieuDang] FOREIGN KEY ([KieuDangId]) REFERENCES [dbo].[DM_KieuDang] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoLCD] ADD CONSTRAINT [FK_ChiTietThongSoLCD_LoaiVai] FOREIGN KEY ([LoaiVaiId]) REFERENCES [dbo].[DM_LoaiVai] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoQuyCo] ADD CONSTRAINT [FK_ChiTietThongSoQuyCo_Size] FOREIGN KEY ([SizeId]) REFERENCES [dbo].[DM_Size] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoQuyCo] ADD CONSTRAINT [FK_ChiTietThongSoQuyCo_SoDo] FOREIGN KEY ([SoDoId]) REFERENCES [dbo].[DM_SoDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChiTietThongSoQuyCo] ADD CONSTRAINT [FK_ChiTietThongSoQuyCo_ThongSoQuyCo] FOREIGN KEY ([ThongSoQuyCoId]) REFERENCES [dbo].[ThongSoQuyCo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_KieuDang] ADD CONSTRAINT [FK_ChungLoaiMapping_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_KieuDang] ADD CONSTRAINT [FK_ChungLoaiMapping_KieuDang] FOREIGN KEY ([KieuDangId]) REFERENCES [dbo].[DM_KieuDang] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_LoaiVai] ADD CONSTRAINT [FK_ChungLoai__LoaiVai_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_LoaiVai] ADD CONSTRAINT [FK_ChungLoai__LoaiVai_LoaiVai] FOREIGN KEY ([LoaiVaiId]) REFERENCES [dbo].[DM_LoaiVai] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_Size] ADD CONSTRAINT [FK_ChungLoai__Size_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_Size] ADD CONSTRAINT [FK_ChungLoai__Size_Size] FOREIGN KEY ([SizeId]) REFERENCES [dbo].[DM_Size] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_SoDo] ADD CONSTRAINT [FK_ChungLoai__SoDo_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSPId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_SoDo] ADD CONSTRAINT [FK_ChungLoai__SoDo_SoDo] FOREIGN KEY ([SoDoId]) REFERENCES [dbo].[DM_SoDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_ViTriCuDong] ADD CONSTRAINT [FK_ChungLoai__VitriCuDong_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_ViTriCuDong] ADD CONSTRAINT [FK_ChungLoai__VitriCuDong_ViTriCuDong] FOREIGN KEY ([ViTriCuDongId]) REFERENCES [dbo].[DM_ViTriCuDong] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_YeuCauVeMac] ADD CONSTRAINT [FK_ChungLoai__YeuCauVeMac_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ChungLoaiSanPham_YeuCauVeMac] ADD CONSTRAINT [FK_ChungLoai__YeuCauVeMac_YeuCauVeMac] FOREIGN KEY ([YeuCauVeMacId]) REFERENCES [dbo].[DM_YeuCauMac] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[DonSanXuat] ADD CONSTRAINT [FK_DonSanXua_LanChuyenQuyCo] FOREIGN KEY ([LanChuyenQuyCoId]) REFERENCES [dbo].[LanChuyenQuyCo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanChuyenQuyCo] ADD CONSTRAINT [FK__LanChuyenQuyCo__DanhSachDo] FOREIGN KEY ([DanhSachDoId]) REFERENCES [dbo].[DanhSachDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanChuyenQuyCo_PhieuDo] ADD CONSTRAINT [FK_LanChuyenMapping_LanChuyenQuyCo] FOREIGN KEY ([LanChuyenQuyCoId]) REFERENCES [dbo].[LanChuyenQuyCo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanChuyenQuyCo_PhieuDo] ADD CONSTRAINT [FK_LanChuyenMapping_LyDoKhongSanXuat] FOREIGN KEY ([LyDoKhongSanXuatId]) REFERENCES [dbo].[DM_LyDoKhongSanXuat] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanChuyenQuyCo_PhieuDo] ADD CONSTRAINT [FK_LanChuyenMapping_PhieuDo] FOREIGN KEY ([PhieuDoId]) REFERENCES [dbo].[PhieuDo] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanXuLyQuyCo_PhieuDo] ADD CONSTRAINT [FK_LanXuLyQuyCoPhieuDo_LanXuLyQuyCo] FOREIGN KEY ([LanXuLyQuyCoId]) REFERENCES [dbo].[LanXuLyQuyCo] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanXuLyQuyCo_PhieuDo] ADD CONSTRAINT [FK_LanXuLyQuyCoPhieuDo_PhieuDo] FOREIGN KEY ([PhieuDoId]) REFERENCES [dbo].[PhieuDo] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanXuLyQuyCoKhoaThongSoQC] ADD CONSTRAINT [FK_LanXuLyQuyCoKhoaThongSoQC_DM_SoDo_SoDoId] FOREIGN KEY ([SoDoId]) REFERENCES [dbo].[DM_SoDo] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LanXuLyQuyCoKhoaThongSoQC] ADD CONSTRAINT [FK_LanXuLyQuyCoKhoaThongSoQC_LanXuLyQuyCo_LanXuLyQuyCoId] FOREIGN KEY ([LanXuLyQuyCoId]) REFERENCES [dbo].[LanXuLyQuyCo] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[LenhSanXuat] ADD CONSTRAINT [FK_LenhSanXuat_DonSanXuat] FOREIGN KEY ([DonSanXuatId]) REFERENCES [dbo].[DonSanXuat] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[NhomLenhSanXuat_LenhSanXuat] ADD CONSTRAINT [FK_NhomLenhMapping_LenhSanXuat] FOREIGN KEY ([LenhSanXuatId]) REFERENCES [dbo].[LenhSanXuat] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[NhomLenhSanXuat_LenhSanXuat] ADD CONSTRAINT [FK_NhomLenhMapping_NhomLenhSanXuat] FOREIGN KEY ([NhomLenhSanXuatId]) REFERENCES [dbo].[NhomLenhSanXuat] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo] ADD CONSTRAINT [FK_PhieuDo_DM_KieuDang] FOREIGN KEY ([KieuDangId]) REFERENCES [dbo].[DM_KieuDang] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo] ADD CONSTRAINT [FK_PhieuDo_DM_YeuCauMac] FOREIGN KEY ([YeuCauVeMacId]) REFERENCES [dbo].[DM_YeuCauMac] ([Id]) ON DELETE NO ACTION ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo] ADD CONSTRAINT [FK_PhieuDo_DanhSachDo] FOREIGN KEY ([DanhSachDoId]) REFERENCES [dbo].[DanhSachDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo] ADD CONSTRAINT [FK_PhieuDo_NhanVienKH] FOREIGN KEY ([NhanVienKHId]) REFERENCES [dbo].[NhanVienKH] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo_ChungLoaiSanPham] ADD CONSTRAINT [FK_PhieuDo_ChungLoaiSanPham_PhieuDo] FOREIGN KEY ([PhieuDoId]) REFERENCES [dbo].[PhieuDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo_DacDiemCoThe] ADD CONSTRAINT [FK_PhieuDo_DacDiemCoThe_PhieuDo] FOREIGN KEY ([PhieuDoId]) REFERENCES [dbo].[PhieuDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo_YeuCauVeMacKhac] ADD CONSTRAINT [FK__PhieuDo_YeuCauVeMacKhac_PhieuDo] FOREIGN KEY ([PhieuDoId]) REFERENCES [dbo].[PhieuDo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[PhieuDo_YeuCauVeMacKhac] ADD CONSTRAINT [FK__PhieuDo_YeuCauVeMacKhac_YeuCauVeMacKhac] FOREIGN KEY ([YeuCauVeMacKhacId]) REFERENCES [dbo].[DM_YeuCauMacKhac] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[ThongSoQuyCo] ADD CONSTRAINT [FK_ThongSoQuyCo_DM_ChungLoaiSanPham_ChungLoaiSanPhamId] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[XuLyQuyCo_ChungLoaiSanPham] ADD CONSTRAINT [FK_XuLyMapping_ChungLoaiSP] FOREIGN KEY ([ChungLoaiSanPhamId]) REFERENCES [dbo].[DM_ChungLoaiSanPham] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

ALTER TABLE [dbo].[XuLyQuyCo_ChungLoaiSanPham] ADD CONSTRAINT [FK_XuLyMapping_LanChuyenQuyCo] FOREIGN KEY ([LanChuyenQuyCoId]) REFERENCES [dbo].[LanChuyenQuyCo] ([Id]) ON DELETE CASCADE ON UPDATE NO ACTION
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietDanhSachDo_ChungLoaiSanPhamDMChungLoaiSanPhamId]
ON [dbo].[ChiTietDanhSachDo] (
  [ChungLoaiSanPhamDMChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietDanhSachDo_DanhSachDoId]
ON [dbo].[ChiTietDanhSachDo] (
  [DanhSachDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietDanhSachDo_LoaiVaiDMLoaiVaiId]
ON [dbo].[ChiTietDanhSachDo] (
  [LoaiVaiDMLoaiVaiId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietDonSanXuat_DonSanXuatId]
ON [dbo].[ChiTietDonSanXuat] (
  [DonSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietDonSanXuat_LanXuLyQuyCoPhieuDoId]
ON [dbo].[ChiTietDonSanXuat] (
  [LanXuLyQuyCoPhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietLenhSanXuat_ChiTietDonSanXuatId]
ON [dbo].[ChiTietLenhSanXuat] (
  [ChiTietDonSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietLenhSanXuat_LenhSanXuatId]
ON [dbo].[ChiTietLenhSanXuat] (
  [LenhSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoLCD_KieuDangId]
ON [dbo].[ChiTietThongSoLCD] (
  [KieuDangId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoLCD_LoaiSanPhamId]
ON [dbo].[ChiTietThongSoLCD] (
  [LoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoLCD_LoaiVaiId]
ON [dbo].[ChiTietThongSoLCD] (
  [LoaiVaiId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoLCD_ViTriCuDongId]
ON [dbo].[ChiTietThongSoLCD] (
  [ViTriCuDongId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoLCD_YeuCauVeMacId]
ON [dbo].[ChiTietThongSoLCD] (
  [YeuCauVeMacId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoQuyCo_SizeId]
ON [dbo].[ChiTietThongSoQuyCo] (
  [SizeId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoQuyCo_SoDoId]
ON [dbo].[ChiTietThongSoQuyCo] (
  [SoDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChiTietThongSoQuyCo_ThongSoQuyCoId]
ON [dbo].[ChiTietThongSoQuyCo] (
  [ThongSoQuyCoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_KieuDang_ChungLoaiSanPhamId]
ON [dbo].[ChungLoaiSanPham_KieuDang] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_KieuDang_KieuDangId]
ON [dbo].[ChungLoaiSanPham_KieuDang] (
  [KieuDangId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_LoaiVai_ChungLoaiSanPhamId]
ON [dbo].[ChungLoaiSanPham_LoaiVai] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_LoaiVai_LoaiVaiId]
ON [dbo].[ChungLoaiSanPham_LoaiVai] (
  [LoaiVaiId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_Size_ChungLoaiSanPhamId]
ON [dbo].[ChungLoaiSanPham_Size] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_Size_SizeId]
ON [dbo].[ChungLoaiSanPham_Size] (
  [SizeId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_SoDo_ChungLoaiSPId]
ON [dbo].[ChungLoaiSanPham_SoDo] (
  [ChungLoaiSPId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_SoDo_SoDoId]
ON [dbo].[ChungLoaiSanPham_SoDo] (
  [SoDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_ViTriCuDong_ChungLoaiSanPhamId]
ON [dbo].[ChungLoaiSanPham_ViTriCuDong] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_ViTriCuDong_ViTriCuDongId]
ON [dbo].[ChungLoaiSanPham_ViTriCuDong] (
  [ViTriCuDongId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_YeuCauVeMac_ChungLoaiSanPhamId]
ON [dbo].[ChungLoaiSanPham_YeuCauVeMac] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ChungLoaiSanPham_YeuCauVeMac_YeuCauVeMacId]
ON [dbo].[ChungLoaiSanPham_YeuCauVeMac] (
  [YeuCauVeMacId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_DonSanXuat_LanChuyenQuyCoId]
ON [dbo].[DonSanXuat] (
  [LanChuyenQuyCoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanChuyenQuyCo_DanhSachDoId]
ON [dbo].[LanChuyenQuyCo] (
  [DanhSachDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanChuyenQuyCo_PhieuDo_LanChuyenQuyCoId]
ON [dbo].[LanChuyenQuyCo_PhieuDo] (
  [LanChuyenQuyCoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanChuyenQuyCo_PhieuDo_LyDoKhongSanXuatId]
ON [dbo].[LanChuyenQuyCo_PhieuDo] (
  [LyDoKhongSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanChuyenQuyCo_PhieuDo_PhieuDoId]
ON [dbo].[LanChuyenQuyCo_PhieuDo] (
  [PhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanXuLyQuyCo_PhieuDo_LanXuLyQuyCoId]
ON [dbo].[LanXuLyQuyCo_PhieuDo] (
  [LanXuLyQuyCoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanXuLyQuyCo_PhieuDo_PhieuDoId]
ON [dbo].[LanXuLyQuyCo_PhieuDo] (
  [PhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanXuLyQuyCoKhoaThongSoQC_LanXuLyQuyCoId]
ON [dbo].[LanXuLyQuyCoKhoaThongSoQC] (
  [LanXuLyQuyCoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LanXuLyQuyCoKhoaThongSoQC_SoDoId]
ON [dbo].[LanXuLyQuyCoKhoaThongSoQC] (
  [SoDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_LenhSanXuat_DonSanXuatId]
ON [dbo].[LenhSanXuat] (
  [DonSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_NhomLenhSanXuat_LenhSanXuat_LenhSanXuatId]
ON [dbo].[NhomLenhSanXuat_LenhSanXuat] (
  [LenhSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_NhomLenhSanXuat_LenhSanXuat_NhomLenhSanXuatId]
ON [dbo].[NhomLenhSanXuat_LenhSanXuat] (
  [NhomLenhSanXuatId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Notification_CustomerId]
ON [dbo].[Notification] (
  [CustomerId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_Notification_Readed]
ON [dbo].[Notification] (
  [Readed] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_ChungLoaiSanPham_PhieuDoId]
ON [dbo].[PhieuDo_ChungLoaiSanPham] (
  [PhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_DacDiemCoThe_PhieuDoId]
ON [dbo].[PhieuDo_DacDiemCoThe] (
  [PhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_DanhSachDoId]
ON [dbo].[PhieuDo] (
  [DanhSachDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_KieuDangId]
ON [dbo].[PhieuDo] (
  [KieuDangId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_NhanVienKHId]
ON [dbo].[PhieuDo] (
  [NhanVienKHId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_YeuCauVeMacId]
ON [dbo].[PhieuDo] (
  [YeuCauVeMacId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_YeuCauVeMacKhac_PhieuDoId]
ON [dbo].[PhieuDo_YeuCauVeMacKhac] (
  [PhieuDoId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_PhieuDo_YeuCauVeMacKhac_YeuCauVeMacKhacId]
ON [dbo].[PhieuDo_YeuCauVeMacKhac] (
  [YeuCauVeMacKhacId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_ThongSoQuyCo_ChungLoaiSanPhamId]
ON [dbo].[ThongSoQuyCo] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_XuLyQuyCo_ChungLoaiSanPham_ChungLoaiSanPhamId]
ON [dbo].[XuLyQuyCo_ChungLoaiSanPham] (
  [ChungLoaiSanPhamId] ASC
)
GO

CREATE NONCLUSTERED INDEX [IX_XuLyQuyCo_ChungLoaiSanPham_LanChuyenQuyCoId]
ON [dbo].[XuLyQuyCo_ChungLoaiSanPham] (
  [LanChuyenQuyCoId] ASC
)