/****** Object:  View [dbo].[v_NhanVienKH]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_NhanVienKH] AS SELECT        nvkh.Id, nvkh.MaNhanVienKH, nvkh.TenNhanVienKH, nvkh.Email, nvkh.Phone, nvkh.Gender, nvkh.NamSinh, nvkh.ChieuCao, nvkh.CanNang, nvkh.KhachHangId, nvkh.TinhThanhPho, nvkh.QuanHuyen, nvkh.DonViPhongBan,
                         nvkh.ChucDanh, nvkh.Deleted, nvkh.ModifiedBy, nvkh.CreatedBy, nvkh.CreatedDate, nvkh.ModifiedDate, kh.MaKhachHang, kh.TenKhachHang, pd.Id AS PhieuDoId, pd.DaChuyenQuyCo, pd.DaGuiEmail, pd.DaHoanThanhDo,
                         dmchuado.Name AS LyDoChuaDo, pd.NgayDo, dsd.Ten AS TenDanhSachDo, dsd.Ma AS MaDanhSachDo, dsd.GhiChu AS GhiChuDanhSachDo, dsd.Id AS IdDanhSachDo, kh.DonViId, pd.YeuCauVeMacId,
						 -- nguoi do
						  c.FullName AS NguoiDo, c.Phone AS SDTNguoiDo, c.Id as NguoiDoId,
						  pd.ChungLoaiDongPhuc, pd.GhiChu AS GhiChuPhieuDo,

						  -- yeu cau ve mac
						  ycvm.Name AS YeuCauVeMac,

						  --'' YeuCauVeMacKhac,
						  --'' DacDiemCoThe,

						  --/*
						  -- yeu cau ve mac khac
						  SUBSTRING(
								(
									SELECT ',' + yck.Name  AS [text()]
									FROM dbo.DM_YeuCauMacKhac yck
									inner join PhieuDo_YeuCauVeMacKhac AS yck_pd on yck_pd.YeuCauVeMacKhacId = yck.Id
									WHERE yck_pd.PhieuDoId = pd.Id
									-- ORDER BY yck.DisplayOrder
									 FOR XML PATH (''),  TYPE
								).value('text()[1]','nvarchar(max)'), 2, 1000) AS YeuCauVeMacKhac
						,
						-- dacdiemcothe
						 SUBSTRING(
								(
									SELECT ',' + dd.Name  AS [text()]
									FROM dbo.DM_DacDiemCoThe dd
									inner join PhieuDo_DacDiemCoThe AS pd_dd on pd_dd.DacDiemCoTheId = dd.Id
									WHERE pd_dd.PhieuDoId = pd.Id
									-- ORDER BY yck.DisplayOrder
									 FOR XML PATH (''),  TYPE
								).value('text()[1]','nvarchar(max)'), 2, 1000) AS DacDiemCoThe,
					--*/

						-- kieu dang
						kd.KieuDang,
						pd.LyDoChuaDoId

FROM            dbo.KhachHang AS kh INNER JOIN
                         dbo.NhanVienKH AS nvkh ON nvkh.KhachHangId = kh.Id LEFT OUTER JOIN
                         dbo.PhieuDo AS pd ON pd.NhanVienKHId = nvkh.Id LEFT OUTER JOIN
                         dbo.DanhSachDo AS dsd ON pd.DanhSachDoId = dsd.Id LEFT OUTER JOIN
                         dbo.DM_LyDoChuaDo AS dmchuado ON pd.LyDoChuaDoId = dmchuado.Id
						 LEFT JOIN dbo.Customer AS c ON c.Id = pd.NguoiDoId

						LEFT JOIN DM_YeuCauMac AS ycvm on ycvm.Id = pd.YeuCauVeMacId
						LEFT JOIN DM_KieuDang AS kd on kd.Id = pd.KieuDangId
GO
/****** Object:  View [dbo].[v_CountNVKHOfDanhSachDo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CountNVKHOfDanhSachDo]
AS
SELECT        IdDanhSachDo, COUNT(1) AS Total
FROM            dbo.v_NhanVienKH
GROUP BY IdDanhSachDo
GO
/****** Object:  View [dbo].[v_CountChungLoaiHoanThanhLanChuyenQC]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_CountChungLoaiHoanThanhLanChuyenQC]
AS
SELECT        LanChuyenQuyCoId, sum(case HoanThanhQuyCo when 1 then 1 else 0 end) AS DaHoanThanh, Count(1) Total
FROM            dbo.XuLyQuyCo_ChungLoaiSanPham
GROUP BY LanChuyenQuyCoId
GO
/****** Object:  View [dbo].[v_CountDonSXOfLanChuyenQC]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[v_CountDonSXOfLanChuyenQC]
AS
SELECT        LanChuyenQuyCoId, COUNT(1) AS Total
FROM            dbo.DonSanXuat
GROUP BY LanChuyenQuyCoId
GO
/****** Object:  View [dbo].[v_CountLenhSXOfLanChuyenQC]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[v_CountLenhSXOfLanChuyenQC]
AS
SELECT        LanChuyenQuyCoId, COUNT(1) AS Total
FROM            dbo.DonSanXuat dsx inner join LenhSanXuat lsx on lsx.DonSanXuatId=dsx.Id
GROUP BY LanChuyenQuyCoId
GO
/****** Object:  View [dbo].[v_CountNhomLenhSXOfLanChuyenQC]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[v_CountNhomLenhSXOfLanChuyenQC]
AS
SELECT        LanChuyenQuyCoId, COUNT(1) AS Total
FROM            dbo.DonSanXuat dsx inner join LenhSanXuat lsx on lsx.DonSanXuatId=dsx.Id
			    inner join NhomLenhSanXuat_LenhSanXuat nlsx on nlsx.LenhSanXuatId=lsx.Id
GROUP BY LanChuyenQuyCoId
GO
/****** Object:  View [dbo].[v_LanChuyenQuyCo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_LanChuyenQuyCo]
AS
SELECT
					-- lan chuyen quy co
					lc.Id, lc.TenLanChuyenQuyCo TenLanChuyen, lc.SoLuongNVKH,lc.HoanThanhQuyCo, lc.CreatedBy, lc.CreatedDate, lc.DanhSachDoId,

						c.FullName NguoiChuyen, --nguoi chuyen quy co

						--nhan vien khach hang
						kh.TenKhachHang, kh.Id KhachHangId, kh.DonViId, kh.MaKhachHang,

						--danh sach do
						dsd.Ma MaDanhSachDo, dsd.Ten TenDanhSach,

						-----------
						--/*
						count_nvkh_dsd.Total TongSoNhanVien,	--total nhan vien cua danh sach do
						count_donsx_lc.Total TongSoDon,			--total DSX cua lan chuyen
						count_lenhsx_lc.Total TongSoLenh,		--total LSX cua lan chuyen
						count_nhomlenhsx_lc.Total TongNhomLenh,	--total nhom LSX cua lan chuyen
						count_hoanthanh.DaHoanThanh AS CountSPHoanThanhQuyCo, count_hoanthanh.Total AS CountSanPham
						--*/
						------
						/*
						0 TongSoNhanVien,	--total nhan vien cua danh sach do
						0 TongSoDon,			--total DSX cua lan chuyen
						0 TongSoLenh,		--total LSX cua lan chuyen
						0 TongNhomLenh

						*/

						/*
						--lenh san xuat
						(select count(*) as cl from LenhSanXuat  l
							where l.DonSanXuatId in (select d.Id from DonSanXuat  d where d.LanChuyenQuyCoId = lc.Id)
						) TongSoLenh,

						--nhom lenh
						(select count(*) as cnl  from NhomLenhSanXuat nl
												left join NhomLenhSanXuat_LenhSanXuat nl_l on nl_l.NhomLenhSanXuatId = nl.Id
												left join LenhSanXuat l on nl_l.LenhSanXuatId = l.Id
												where l.DonSanXuatId in (select d.Id from DonSanXuat  d where d.LanChuyenQuyCoId = lc.Id)
						) TongNhomLenh
						*/

FROM            dbo.LanChuyenQuyCo lc
				INNER JOIN dbo.DanhSachDo dsd ON lc.DanhSachDoId = dsd.Id
				INNER JOIN dbo.KhachHang kh ON dsd.KhachHangId = kh.Id
				INNER JOIN dbo.Customer c ON lc.CreatedBy = c.Id

				inner join v_CountNVKHOfDanhSachDo  count_nvkh_dsd on count_nvkh_dsd.IdDanhSachDo = dsd.Id
				--/*
				left join v_CountDonSXOfLanChuyenQC count_donsx_lc on count_donsx_lc.LanChuyenQuyCoId=lc.id
				left join v_CountLenhSXOfLanChuyenQC count_lenhsx_lc on count_lenhsx_lc.LanChuyenQuyCoId=lc.id
				left join v_CountNhomLenhSXOfLanChuyenQC count_nhomlenhsx_lc on count_nhomlenhsx_lc.LanChuyenQuyCoId=lc.id

				left join v_CountChungLoaiHoanThanhLanChuyenQC count_hoanthanh on count_hoanthanh.LanChuyenQuyCoId=lc.id
				--*/

GO
/****** Object:  View [dbo].[v_KetQua]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_KetQua] AS select lc.Id, lc.Id LanChuyenQuyCoId, lc.TenLanChuyenQuyCo, b.ChungLoaiSanPhamId, sp.MaChungLoaiSanPham, sp.Name ChungLoaiSanPham, sp.Gender, sp.Art_Color,

	--ket qua quy co
	kq.PhieuDoId, kq.QuyCoThanhCong, kq.KetQuaQuyCo,kq.SoDoVoc1Id,kq.SoDoVoc2Id,kq.SoDoVoc3Id,kq.LoaiKetQuaQuyCo, kq.VongQuyCo,

	--don san xuat
	ctdonsx.DonSanXuatId, gen.FullKey MaHangTheoDonSX,

	--lenh san xuat
	lenhsx.Id LenhSanXuatId,

	--nhom lenh san xuat
	nhomlsx.NhomLenhSanXuatId,

	-- phieu do info
	pd.ChungLoaiDongPhuc,

	lxl.LanXuLy AS LanXuLy, kq.Id AS LanXuLyQuyCoPhieuDoId,

	-- so luong sp
	pd_cl.SoLuong

from LanChuyenQuyCo lc
	inner join XuLyQuyCo_ChungLoaiSanPham b on b.LanChuyenQuyCoId=lc.Id
	inner join LanXuLyQuyCo lxl on lxl.XuLyQuyCo_ChungLoaiSanPhamId=b.Id
	inner join LanXuLyQuyCo_PhieuDo kq on kq.LanXuLyQuyCoId=lxl.Id
	inner join DM_ChungLoaiSanPham sp on sp.Id=b.ChungLoaiSanPhamId
	inner join PhieuDo pd on pd.Id = kq.PhieuDoId

	inner join PhieuDo_ChungLoaiSanPham pd_cl on (pd_cl.PhieuDoId = pd.Id and pd_cl.ChungLoaiSanPhamId = b.ChungLoaiSanPhamId)

	left join ChiTietDonSanXuat ctdonsx on ctdonsx.LanXuLyQuyCo_PhieuDoId=kq.Id
	left join ChiTietLenhSanXuat chitietlenhsx on chitietlenhsx.ChiTietDonSanXuatId=ctdonsx.id
	left join LenhSanXuat lenhsx on lenhsx.Id=chitietlenhsx.LenhSanXuatId
	left join NhomLenhSanXuat_LenhSanXuat nhomlsx on nhomlsx.LenhSanXuatId=lenhsx.Id
	left join GENKEY gen on gen.EntityName='DonSanXuat' and gen.EntityId=ctdonsx.DonSanXuatId --  and gen.ChungLoaiSanPhamId=sp.Id
GO
/****** Object:  View [dbo].[v_ReportQuyCo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ReportQuyCo]
AS
SELECT kq.LanChuyenQuyCoId AS Id, kq.LanChuyenQuyCoId, kq.ChungLoaiSanPhamId, kq.ChungLoaiSanPham,
	sum(case when (kq.QuyCoThanhCong = 1 and kq.LoaiKetQuaQuyCo is not null) then 1 else 0 end) as DaQuyCo,
	sum(case when kq.LoaiKetQuaQuyCo = 3 then 1 else 0 end) as NgoaiCo,
	count(1) as SoLuong,
	kq.MaChungLoaiSanPham
	from v_ketqua kq
--	where kq.LanChuyenQuyCoId = 386
	group by kq.ChungLoaiSanPhamId, kq.ChungLoaiSanPham, kq.MaChungLoaiSanPham,kq.LanChuyenQuyCoId
GO
/****** Object:  View [dbo].[v_ChungLoaiSPOfDanhSachDo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ChungLoaiSPOfDanhSachDo]
AS
SELECT DISTINCT dbo.DanhSachDo.Id, dbo.DanhSachDo.Id AS DanhSachDoId, dbo.PhieuDo_ChungLoaiSanPham.ChungLoaiSanPhamId, dbo.DM_ChungLoaiSanPham.Name AS TenChungLoaiSp
FROM            dbo.DanhSachDo INNER JOIN
                         dbo.PhieuDo ON dbo.DanhSachDo.Id = dbo.PhieuDo.DanhSachDoId INNER JOIN
                         dbo.PhieuDo_ChungLoaiSanPham ON dbo.PhieuDo.Id = dbo.PhieuDo_ChungLoaiSanPham.PhieuDoId INNER JOIN
                         dbo.DM_ChungLoaiSanPham ON dbo.PhieuDo_ChungLoaiSanPham.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id
GO
/****** Object:  View [dbo].[v_DanhSachDonSanXuat]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DanhSachDonSanXuat]
AS
SELECT        dbo.DonSanXuat.Id,dbo.DonSanXuat.Id AS DonSanXuatId, dbo.DonSanXuat.LanChuyenQuyCoId, dbo.DonSanXuat.MaDonSX AS MaDonSanXuat, dbo.DonSanXuat.ModifiedBy, dbo.DonSanXuat.CreatedBy, dbo.DonSanXuat.CreatedDate,
                         dbo.LanChuyenQuyCo.TenLanChuyenQuyCo, dbo.LanChuyenQuyCo.DanhSachDoId, dbo.DanhSachDo.Ten AS TenDanhSachDo, dbo.KhachHang.MaKhachHang, dbo.KhachHang.TenKhachHang,
                         dbo.Customer.FullName AS NguoiTao, dbo.KhachHang.DonViId, dbo.KhachHang.Deleted AS KhachHangDeleted,
                             (SELECT        COUNT(1) AS Expr1
                               FROM            dbo.LenhSanXuat
                               WHERE        (DonSanXuatId = dbo.DonSanXuat.Id)) AS TongLenh
FROM            dbo.DonSanXuat INNER JOIN
                         dbo.LanChuyenQuyCo ON dbo.DonSanXuat.LanChuyenQuyCoId = dbo.LanChuyenQuyCo.Id INNER JOIN
                         dbo.DanhSachDo ON dbo.LanChuyenQuyCo.DanhSachDoId = dbo.DanhSachDo.Id INNER JOIN
                         dbo.KhachHang ON dbo.DanhSachDo.KhachHangId = dbo.KhachHang.Id INNER JOIN
                         dbo.Customer ON dbo.DonSanXuat.CreatedBy = dbo.Customer.Id
GO
/****** Object:  View [dbo].[v_DanhSachLenhSanXuat]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DanhSachLenhSanXuat] AS SELECT        l.Id,l.Id AS LenhSanXuatId, l.TenLenhSanXuat, l.DonSanXuatId, l.CreatedBy, l.CreatedDate,
                         dbo.DonSanXuat.MaDonSX As MaDonSanXuat, dbo.LanChuyenQuyCo.TenLanChuyenQuyCo, dbo.DonSanXuat.LanChuyenQuyCoId,
						 ds.Ma AS MaDanhSachDo, ds.Ten AS TenDanhSachDo, ds.Deleted AS DanhSachDoDeleted, ds.Id AS DanhSachDoId,
                         dbo.KhachHang.TenKhachHang, dbo.KhachHang.DonViId,  dbo.KhachHang.Deleted AS KhachHangDeleted, dbo.Customer.FullName AS TenNguoiTao,
						 -- so lenh noi voi nhom lenh. valid ==0 || ==1. if >1 then error logic
						 (Select count(1) as c from NhomLenhSanXuat_LenhSanXuat nl_l where nl_l.LenhSanXuatId = l.Id ) AS TongNhomLenh
--FROM            dbo.NhomLenhSanXuat
--					INNER JOIN dbo.NhomLenhSanXuat_LenhSanXuat ON dbo.NhomLenhSanXuat.Id = dbo.NhomLenhSanXuat_LenhSanXuat.NhomLenhSanXuatId
--					RIGHT JOIN  dbo.LenhSanXuat l
--					INNER JOIN dbo.DonSanXuat ON l.DonSanXuatId = dbo.DonSanXuat.Id
--					INNER JOIN dbo.LanChuyenQuyCo ON dbo.DonSanXuat.LanChuyenQuyCoId = dbo.LanChuyenQuyCo.Id
--					INNER JOIN dbo.DanhSachDo ON dbo.LanChuyenQuyCo.DanhSachDoId = dbo.DanhSachDo.Id
--					INNER JOIN dbo.KhachHang ON dbo.DanhSachDo.KhachHangId = dbo.KhachHang.Id
--					INNER JOIN dbo.Customer ON l.CreatedBy = dbo.Customer.Id ON dbo.NhomLenhSanXuat_LenhSanXuat.LenhSanXuatId = l.Id
FROM            dbo.LenhSanXuat l
					LEFT JOIN dbo.NhomLenhSanXuat_LenhSanXuat map ON l.Id = map.LenhSanXuatId
					LEFT JOIN  dbo.NhomLenhSanXuat nl on nl.Id = map.NhomLenhSanXuatId
					LEFT JOIN dbo.DonSanXuat ON l.DonSanXuatId = dbo.DonSanXuat.Id
					LEFT JOIN dbo.LanChuyenQuyCo ON dbo.DonSanXuat.LanChuyenQuyCoId = dbo.LanChuyenQuyCo.Id
					LEFT JOIN dbo.DanhSachDo ds ON dbo.LanChuyenQuyCo.DanhSachDoId = ds.Id
					LEFT JOIN dbo.KhachHang ON ds.KhachHangId = dbo.KhachHang.Id
					INNER JOIN dbo.Customer ON l.CreatedBy = dbo.Customer.Id
GO
/****** Object:  View [dbo].[v_LanXuLyQuyCo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_LanXuLyQuyCo]
AS
SELECT        dbo.LanXuLyQuyCo_PhieuDo.LanXuLyQuyCoId AS Id,
				-- nhan vien khach hang
						dbo.NhanVienKH.Id AS NhanVienKHId, dbo.NhanVienKH.MaNhanVienKH, dbo.NhanVienKH.TenNhanVienKH, dbo.NhanVienKH.Gender, dbo.NhanVienKH.NamSinh,
                         dbo.NhanVienKH.DonViPhongBan, dbo.NhanVienKH.ChucDanh, dbo.NhanVienKH.Phone, dbo.NhanVienKH.Email, dbo.NhanVienKH.ChieuCao, dbo.NhanVienKH.CanNang,
			   -- phieu do
						 dbo.PhieuDo.Id AS PhieuDoId, dbo.PhieuDo.AppliedSizeValue,

				-- orther
						 dbo.LanXuLyQuyCo_PhieuDo.KetQuaQuyCo, dbo.LanXuLyQuyCo_PhieuDo.LoaiKetQuaQuyCo,
                         dbo.LanXuLyQuyCo_PhieuDo.QuyCoThanhCong, dbo.DM_YeuCauMac.Name AS YeuCauVeMac, dbo.KhachHang.DonViId, dbo.XuLyQuyCo_ChungLoaiSanPham.ChungLoaiSanPhamId,
                         dbo.LanXuLyQuyCo_PhieuDo.Id AS LanXuLyQuyCo_PhieuDoId, dbo.LanXuLyQuyCo.TiLeQuyCo AS TiLe_LanXuLy, XuLyQuyCo_ChungLoaiSanPham.TiLeQuyCo AS TiLe_ChungLoai,
						 kd.KieuDang
FROM            dbo.LanXuLyQuyCo_PhieuDo
				INNER JOIN dbo.LanXuLyQuyCo ON dbo.LanXuLyQuyCo_PhieuDo.LanXuLyQuyCoId = dbo.LanXuLyQuyCo.Id
				INNER JOIN dbo.XuLyQuyCo_ChungLoaiSanPham ON dbo.LanXuLyQuyCo.XuLyQuyCo_ChungLoaiSanPhamId = dbo.XuLyQuyCo_ChungLoaiSanPham.Id
				LEFT OUTER JOIN dbo.PhieuDo ON dbo.LanXuLyQuyCo_PhieuDo.PhieuDoId = dbo.PhieuDo.Id
				LEFT OUTER JOIN dbo.NhanVienKH ON dbo.PhieuDo.NhanVienKHId = dbo.NhanVienKH.Id
				LEFT OUTER JOIN dbo.DM_YeuCauMac ON dbo.PhieuDo.YeuCauVeMacId = dbo.DM_YeuCauMac.Id
				LEFT OUTER JOIN dbo.KhachHang ON dbo.NhanVienKH.KhachHangId = dbo.KhachHang.Id
				LEFT OUTER JOIN DM_KieuDang  kd ON kd.Id = PhieuDo.KieuDangId

---- changeg 11/3/2022 do đã có view v_ketqua nên không join nhiều bảng nữa mà lấy kết quả bên đó sang
--SELECT        lxl.Id AS Id, nvkh.Id AS NhanVienKHId, nvkh.MaNhanVienKH, nvkh.TenNhanVienKH, nvkh.Gender, nvkh.NamSinh,
--                         nvkh.DonViPhongBan, nvkh.ChucDanh, kq.PhieuDoId AS PhieuDoId, kq.KetQuaQuyCo AS KetQuaQuyCo, kq.LoaiKetQuaQuyCo,
--                         kq.QuyCoThanhCong, dbo.DM_YeuCauMac.Name AS YeuCauVeMac, kh.DonViId, xl.ChungLoaiSanPhamId,
--						 kq.LanXuLyQuyCoPhieuDoId AS LanXuLyQuyCo_PhieuDoId, lxl.TiLeQuyCo AS TiLe_LanXuLy, xl.TiLeQuyCo AS TiLe_ChungLoai
--                        --  dbo.LanXuLyQuyCo_PhieuDo.Id AS LanXuLyQuyCo_PhieuDoId, dbo.LanXuLyQuyCo.TiLeQuyCo AS TiLe_LanXuLy, XuLyQuyCo_ChungLoaiSanPham.TiLeQuyCo AS TiLe_ChungLoai
--FROM            v_KetQua kq
--                       inner join XuLyQuyCo_ChungLoaiSanPham xl on xl.LanChuyenQuyCoId = kq.LanChuyenQuyCoId and xl.ChungLoaiSanPhamId = kq.ChungLoaiSanPhamId
--                       inner join PhieuDo pd on pd.Id = kq.PhieuDoId
--                       inner join  dbo.NhanVienKH nvkh ON nvkh.Id = pd.NhanVienKHId
--					   inner join KhachHang kh on kh.Id = nvkh.KhachHangId
--					   inner join LanXuLyQuyCo lxl on lxl.XuLyQuyCo_ChungLoaiSanPhamId = xl.Id
--                       left join  dbo.DM_YeuCauMac ON pd.YeuCauVeMacId = dbo.DM_YeuCauMac.Id

					--   where  lxl.Id = 1549 and xl.ChungLoaiSanPhamId = 195
GO
/****** Object:  View [dbo].[v_NhanVienKHSanXuat]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_NhanVienKHSanXuat]
AS
--SELECT      xlpd.Id, xlpd.Id AS LanXuLyQuyCo_PhieuDoId, dbo.XuLyQuyCo_ChungLoaiSanPham.LanChuyenQuyCoId AS LanChuyenId,
--                         dbo.XuLyQuyCo_ChungLoaiSanPham.HoanThanhQuyCo, dbo.XuLyQuyCo_ChungLoaiSanPham.ChungLoaiSanPhamId, dbo.DM_ChungLoaiSanPham.Name AS TenChungLoaiSP, xlpd.QuyCoThanhCong,
--                         xlpd.KetQuaQuyCo, xlpd.LoaiKetQuaQuyCo, xlpd.SoDoVoc1Id, xlpd.SoDoVoc2Id, pd.Deleted AS PhieuDoDeleted,
--                         dbo.NhanVienKH.MaNhanVienKH, dbo.NhanVienKH.TenNhanVienKH, dbo.NhanVienKH.Phone, dbo.NhanVienKH.Gender, dbo.NhanVienKH.NamSinh, dbo.NhanVienKH.QuanHuyen, dbo.NhanVienKH.DonViPhongBan,
--                         dbo.NhanVienKH.ChucDanh, dbo.NhanVienKH.Deleted AS NhanVienKhDeleted, dbo.NhanVienKH.Id AS NhanVienKHId, xlpd.PhieuDoId, dbo.LanChuyenQuyCo_PhieuDo.KhongSanXuat,
--                         dbo.LanChuyenQuyCo_PhieuDo.Id AS LanChuyenQuyCo_PhieuDo_Id, dbo.ChiTietDonSanXuat.Id AS ChiTietDonSanXuatId, dbo.NhanVienKH.ChieuCao, dbo.NhanVienKH.CanNang, dbo.NhanVienKH.TinhThanhPho,
--                         dbo.NhanVienKH.Email, pd.YeuCauVeMacId, pd.KieuDangId, dbo.NhanVienKH.KhachHangId, xlpd.LanXuLyQuyCoId, xlpd.VongQuyCo,
--                         pd.ChungLoaiDongPhuc, pd.GhiChu, pd.LyDoChuaDoId, dbo.DM_LyDoChuaDo.Name AS LyDoChuaDo, dbo.DM_YeuCauMac.Name AS YeuCauVeMac,
--						 pd.DanhSachDoId,

--						 -- Phieu do
--						 pd.DaHoanThanhDo ,
--						 -- kh
--					     kh.MaKhachHang , kh.TenKhachHang,

--						 -- danh sach do
--						 dsd.Ma AS MaDanhSach, dsd.Ten AS TenDanhSach

--FROM            dbo.XuLyQuyCo_ChungLoaiSanPham
--					INNER JOIN dbo.LanXuLyQuyCo lxl ON dbo.XuLyQuyCo_ChungLoaiSanPham.Id = lxl.XuLyQuyCo_ChungLoaiSanPhamId
--					LEFT JOIN dbo.LanXuLyQuyCo_PhieuDo xlpd ON lxl.Id = xlpd.LanXuLyQuyCoId
--					INNER JOIN dbo.PhieuDo pd ON xlpd.PhieuDoId = pd.Id
--					INNER JOIN dbo.NhanVienKH ON pd.NhanVienKHId = dbo.NhanVienKH.Id
--					INNER JOIN dbo.DM_ChungLoaiSanPham ON dbo.XuLyQuyCo_ChungLoaiSanPham.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id
--					INNER JOIN dbo.LanChuyenQuyCo ON dbo.XuLyQuyCo_ChungLoaiSanPham.LanChuyenQuyCoId = dbo.LanChuyenQuyCo.Id
--					INNER JOIN dbo.LanChuyenQuyCo_PhieuDo ON pd.Id = dbo.LanChuyenQuyCo_PhieuDo.PhieuDoId AND dbo.LanChuyenQuyCo.Id = dbo.LanChuyenQuyCo_PhieuDo.LanChuyenQuyCoId

--					inner join DanhSachDo dsd on dsd.Id = pd.DanhSachDoId
--					inner join KhachHang kh on kh.Id = dsd.KhachHangId

--					LEFT  JOIN dbo.DM_LyDoChuaDo ON pd.LyDoChuaDoId = dbo.DM_LyDoChuaDo.Id
--					LEFT  JOIN dbo.ChiTietDonSanXuat ON xlpd.Id = dbo.ChiTietDonSanXuat.LanXuLyQuyCo_PhieuDoId
--					LEFT  JOIN dbo.DM_YeuCauMac ON pd.YeuCauVeMacId = dbo.DM_YeuCauMac.Id
--GO

SELECT        dbo.LanXuLyQuyCo_PhieuDo.Id, dbo.LanXuLyQuyCo_PhieuDo.Id AS LanXuLyQuyCo_PhieuDoId, dbo.XuLyQuyCo_ChungLoaiSanPham.LanChuyenQuyCoId AS LanChuyenId,
                         dbo.XuLyQuyCo_ChungLoaiSanPham.HoanThanhQuyCo, dbo.XuLyQuyCo_ChungLoaiSanPham.ChungLoaiSanPhamId, dbo.DM_ChungLoaiSanPham.Name AS TenChungLoaiSP, dbo.LanXuLyQuyCo_PhieuDo.QuyCoThanhCong,
                         dbo.LanXuLyQuyCo_PhieuDo.KetQuaQuyCo, dbo.LanXuLyQuyCo_PhieuDo.LoaiKetQuaQuyCo, dbo.LanXuLyQuyCo_PhieuDo.SoDoVoc1Id, dbo.LanXuLyQuyCo_PhieuDo.SoDoVoc2Id, dbo.PhieuDo.Deleted AS PhieuDoDeleted,
                         dbo.NhanVienKH.MaNhanVienKH, dbo.NhanVienKH.TenNhanVienKH, dbo.NhanVienKH.Phone, dbo.NhanVienKH.Gender, dbo.NhanVienKH.NamSinh, dbo.NhanVienKH.QuanHuyen, dbo.NhanVienKH.DonViPhongBan,
                         dbo.NhanVienKH.ChucDanh, dbo.NhanVienKH.Deleted AS NhanVienKhDeleted, dbo.NhanVienKH.Id AS NhanVienKHId, dbo.LanXuLyQuyCo_PhieuDo.PhieuDoId, dbo.LanChuyenQuyCo_PhieuDo.KhongSanXuat,
                         dbo.LanChuyenQuyCo_PhieuDo.Id AS LanChuyenQuyCo_PhieuDo_Id, dbo.ChiTietDonSanXuat.Id AS ChiTietDonSanXuatId, dbo.NhanVienKH.ChieuCao, dbo.NhanVienKH.CanNang, dbo.NhanVienKH.TinhThanhPho,
                         dbo.NhanVienKH.Email, dbo.PhieuDo.YeuCauVeMacId, dbo.PhieuDo.KieuDangId, dbo.NhanVienKH.KhachHangId, dbo.LanXuLyQuyCo_PhieuDo.LanXuLyQuyCoId, dbo.LanXuLyQuyCo_PhieuDo.VongQuyCo,
                         dbo.PhieuDo.ChungLoaiDongPhuc, dbo.PhieuDo.GhiChu, dbo.PhieuDo.LyDoChuaDoId, dbo.DM_LyDoChuaDo.Name AS LyDoChuaDo, dbo.DM_YeuCauMac.Name AS YeuCauVeMac, PhieuDo.DanhSachDoId

FROM            dbo.XuLyQuyCo_ChungLoaiSanPham
					INNER JOIN dbo.LanXuLyQuyCo ON dbo.XuLyQuyCo_ChungLoaiSanPham.Id = dbo.LanXuLyQuyCo.XuLyQuyCo_ChungLoaiSanPhamId
					INNER JOIN dbo.LanXuLyQuyCo_PhieuDo ON dbo.LanXuLyQuyCo.Id = dbo.LanXuLyQuyCo_PhieuDo.LanXuLyQuyCoId
					INNER JOIN dbo.PhieuDo ON dbo.LanXuLyQuyCo_PhieuDo.PhieuDoId = dbo.PhieuDo.Id
					INNER JOIN dbo.NhanVienKH ON dbo.PhieuDo.NhanVienKHId = dbo.NhanVienKH.Id
					INNER JOIN dbo.DM_ChungLoaiSanPham ON dbo.XuLyQuyCo_ChungLoaiSanPham.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id
					INNER JOIN dbo.LanChuyenQuyCo ON dbo.XuLyQuyCo_ChungLoaiSanPham.LanChuyenQuyCoId = dbo.LanChuyenQuyCo.Id
					INNER JOIN dbo.LanChuyenQuyCo_PhieuDo ON dbo.PhieuDo.Id = dbo.LanChuyenQuyCo_PhieuDo.PhieuDoId AND dbo.LanChuyenQuyCo.Id = dbo.LanChuyenQuyCo_PhieuDo.LanChuyenQuyCoId
					LEFT OUTER JOIN dbo.DM_LyDoChuaDo ON dbo.PhieuDo.LyDoChuaDoId = dbo.DM_LyDoChuaDo.Id
					LEFT OUTER JOIN dbo.ChiTietDonSanXuat ON dbo.LanXuLyQuyCo_PhieuDo.Id = dbo.ChiTietDonSanXuat.LanXuLyQuyCo_PhieuDoId
					LEFT OUTER JOIN dbo.DM_YeuCauMac ON dbo.PhieuDo.YeuCauVeMacId = dbo.DM_YeuCauMac.Id
GO
/****** Object:  View [dbo].[v_Report]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_Report]
AS

SELECT  dsd.Id AS Id,dsd.Id AS DanhSachDoId, dsd.Ma as MaDanhSachDo, dsd.Ten AS TenDanhSachDo, kh.MaKhachHang, kh.TenKhachHang, kh.DonViId, c.FullName AS NguoiTao, dsd.CreatedOnUtc,
	-- Count(1) as TongSo,
	sum(case when pd.Id > 0 then 1 else 0 end) as TongSo,
	sum(case when DaHoanThanhDo = 1 then 1 else 0 end) as DaDo,
	sum(case when (DaHoanThanhDo = 1 and nvkh.Gender = 0) then 1 else 0 end) as DaDoNam,
	sum(case when (DaHoanThanhDo = 1 and nvkh.Gender = 1) then 1 else 0 end) as DaDoNu,
	sum(case when (DaHoanThanhDo = 1 and nvkh.Gender not in(0, 1)) then 1 else 0 end) as DaDoGay,

	sum(case when (DaHoanThanhDo = 0 and nvkh.Gender = 0) then 1 else 0 end) as ChuaDoNam,
	sum(case when (DaHoanThanhDo = 0 and nvkh.Gender = 1) then 1 else 0 end) as ChuaDoNu
	-- sum(case when xl.QuyCoThanhCong = 1  then 1 else 0 end) as DaQuyCo

	-- ,pd.Id AS PhieuDoId
    from DanhSachDo dsd
	inner join KhachHang kh on kh.Id = dsd.KhachHangId
	inner join Customer c on c.Id = dsd.CreatedBy
	left join PhieuDo pd  on dsd.Id = pd.DanhSachDoId
	left join NhanVienKH nvkh on nvkh.Id = pd.NhanVienKHId
	-- left join LanXuLyQuyCo_PhieuDo xl on xl.PhieuDoId = pd.Id

	where dsd.Deleted = 0 -- and pd.Deleted <>1 -- and pd.DanhSachDoId in (458)

	    group by dsd.Id, dsd.Ma, dsd.Ten, kh.MaKhachHang, kh.TenKhachHang, kh.DonViId, c.FullName, dsd.CreatedOnUtc-- ,pd.Id

GO
/****** Object:  View [dbo].[v_SoDoOfDanhSachDo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_SoDoOfDanhSachDo]
AS
SELECT DISTINCT
                         dbo.ChungLoaiSanPham_SoDo.SoDoId AS Id, dbo.ChiTietDanhSachDo.DanhSachDoId, dbo.ChiTietDanhSachDo.ChungLoaiSanPhamId, dbo.ChungLoaiSanPham_SoDo.SoDoId, dbo.ChungLoaiSanPham_SoDo.ChungLoaiSPId,
                         dbo.ChungLoaiSanPham_SoDo.BatBuoc, dbo.ChungLoaiSanPham_SoDo.DungQuyCo, dbo.DM_SoDo.TenSoDo, dbo.DM_SoDo.MaSoDo, dbo.DM_SoDo.DisplayOrder, dbo.DM_SoDo.GiaTriNuDen, dbo.DM_SoDo.GiaTriNamTu,
                         dbo.DM_SoDo.GiaTriNamDen, dbo.DM_SoDo.GiaTriNuTu, dbo.DM_SoDo.Gender
FROM            dbo.ChiTietDanhSachDo INNER JOIN
                         dbo.DM_ChungLoaiSanPham ON dbo.ChiTietDanhSachDo.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id INNER JOIN
                         dbo.ChungLoaiSanPham_SoDo ON dbo.DM_ChungLoaiSanPham.Id = dbo.ChungLoaiSanPham_SoDo.ChungLoaiSPId INNER JOIN
                         dbo.DM_SoDo ON dbo.ChungLoaiSanPham_SoDo.SoDoId = dbo.DM_SoDo.Id
GO
/****** Object:  View [dbo].[v_ThongSoDoOfDanhSachDo]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ThongSoDoOfDanhSachDo]
AS
SELECT        dbo.ChiTietDanhSachDo.DanhSachDoId AS Id, dbo.ChiTietDanhSachDo.DanhSachDoId, dbo.ChiTietDanhSachDo.ChungLoaiSanPhamId, dbo.ChungLoaiSanPham_SoDo.SoDoId, dbo.ChungLoaiSanPham_SoDo.ChungLoaiSPId,
                         dbo.ChungLoaiSanPham_SoDo.BatBuoc, dbo.ChungLoaiSanPham_SoDo.DungQuyCo, dbo.DM_SoDo.TenSoDo, dbo.DM_SoDo.MaSoDo, dbo.DM_SoDo.DisplayOrder, dbo.DM_SoDo.GiaTriNuDen, dbo.DM_SoDo.GiaTriNamTu,
                         dbo.DM_SoDo.GiaTriNamDen, dbo.DM_SoDo.GiaTriNuTu, dbo.DM_SoDo.Gender, DM_ChungLoaiSanPham.Name AS TenChungLoaiSp
FROM            dbo.ChiTietDanhSachDo INNER JOIN
                         dbo.DM_ChungLoaiSanPham ON dbo.ChiTietDanhSachDo.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id INNER JOIN
                         dbo.ChungLoaiSanPham_SoDo ON dbo.DM_ChungLoaiSanPham.Id = dbo.ChungLoaiSanPham_SoDo.ChungLoaiSPId INNER JOIN
                         dbo.DM_SoDo ON dbo.ChungLoaiSanPham_SoDo.SoDoId = dbo.DM_SoDo.Id
GO
/****** Object:  View [dbo].[v_ThongSoDoOfPhieu]    Script Date: 6/18/2024 9:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ThongSoDoOfPhieu] AS SELECT        dbo.DM_ChungLoaiSanPham.Id, dbo.PhieuDo_ChungLoaiSanPham.PhieuDoId, dbo.PhieuDo_ChungLoaiSanPham.ChungLoaiSanPhamId AS ChungLoaiId, dbo.PhieuDo_ChungLoaiSanPham.SoLuong,
                         dbo.ChungLoaiSanPham_SoDo.SoDoId, dbo.ChungLoaiSanPham_SoDo.BatBuoc, dbo.DM_SoDo.TenSoDo, dbo.DM_SoDo.DisplayOrder, dbo.DM_SoDo.GiaTriNuDen, dbo.DM_SoDo.GiaTriNamTu, dbo.DM_SoDo.GiaTriNamDen,
                         dbo.DM_SoDo.GiaTriNuTu, dbo.DM_SoDo.Gender
FROM            dbo.PhieuDo_ChungLoaiSanPham
				INNER JOIN dbo.DM_ChungLoaiSanPham ON dbo.PhieuDo_ChungLoaiSanPham.ChungLoaiSanPhamId = dbo.DM_ChungLoaiSanPham.Id
				INNER JOIN dbo.ChungLoaiSanPham_SoDo ON dbo.DM_ChungLoaiSanPham.Id = dbo.ChungLoaiSanPham_SoDo.ChungLoaiSPId
				INNER JOIN dbo.DM_SoDo ON dbo.ChungLoaiSanPham_SoDo.SoDoId = dbo.DM_SoDo.Id

--SELECT pc.Id,pc.PhieuDoId, sp.Id AS ChungLoaiId, pc.SoLuong, ps.SoDoId, cs.BatBuoc, sd.TenSoDo, sd.DisplayOrder, sd.GiaTriNuDen, sd.GiaTriNamTu, sd.GiaTriNamDen, sd.GiaTriNuTu, sd.Gender

--from PhieuDo_SoDo ps
--	left join PhieuDo_ChungLoaiSanPham pc on pc.PhieuDoId = ps.Id
--	left join DM_ChungLoaiSanPham sp on sp.Id = pc.ChungLoaiSanPhamId
--	left join ChungLoaiSanPham_SoDo cs on cs.ChungLoaiSPId = sp.Id
--	left JOIN dbo.DM_SoDo sd ON sd.Id = ps.SoDoId
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties =
   Begin PaneConfigurations =
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane =
      Begin Origin =
         Top = 0
         Left = 0
      End
      Begin Tables =
         Begin Table = "PhieuDo"
            Begin Extent =
               Top = 6
               Left = 38
               Bottom = 136
               Right = 241
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DanhSachDo"
            Begin Extent =
               Top = 6
               Left = 279
               Bottom = 136
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane =
   End
   Begin DataPane =
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane =
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_Report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties =
   Begin PaneConfigurations =
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane =
      Begin Origin =
         Top = 0
         Left = 0
      End
      Begin Tables =
         Begin Table = "DanhSachDo"
            Begin Extent =
               Top = 6
               Left = 38
               Bottom = 136
               Right = 213
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane =
   End
   Begin DataPane =
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane =
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ReportQuyCo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ReportQuyCo'
GO
